@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .underline-animation {
    @apply relative;
  }

  .underline-animation::after {
    @apply absolute content-[''] w-full h-[3px] left-0 bottom-[-4px] 
    bg-slate-800 scale-x-0 hover:scale-x-100 transition-transform 
    duration-300 origin-bottom-left;
  }

  .dark .underline-animation::after {
    @apply absolute content-[''] w-full h-[3px] left-0 bottom-[-4px] 
    bg-white scale-x-0 hover:scale-x-100 transition-transform 
    duration-300 origin-bottom-left;
  }
}

body {
  background-color: rgb(255, 250, 250);
  /* background-color: #222728;
  background-image: url("subtle-prism.svg");
  background-attachment: fixed;
  background-size: cover; */
}

.tech-section {
  background-color: rgb(255, 250, 250);
  color: black;
}

.dark .tech-section {
  background-color: rgb(0, 24, 51);
  color: white;
}

.dark body,
.dark .navbar,
.dark .footer {
  background-color: rgb(0, 24, 51);
  color: white;
}

.navbar,
.footer {
  background-color: rgb(255, 250, 250);
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech-icon {
  width: 3.5rem;
  height: 3.5rem;
}

.icon-wrapper p {
  font-size: 1.5rem;
}

.intro-section {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1507992781348-310259076fe0?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: 50% 30%;
}

.subtle-prism {
  background-color: #222728;
  background-image: url("subtle-prism.svg");
  background-attachment: fixed;
  background-size: cover;
}

.hero-section {
  background-image: url("cool-background.png");
}

@media screen and (max-width: 400px) {
  .intro-section {
    width: 100%;
  }
}
